* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#project_page {
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

#project_page .top_div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* background-color: lemonchiffon; */
}

#project_page .project_title, #project_page .page_head {
    color: black;
    margin: 1rem 0;
    /* background-color: lime; */
}

#project_page .top_div img {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}

#project_page .description_div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* background-color: lime; */
}

#project_page .description_div .project_description {
    color: black;
    font-weight: normal;
    line-height: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

#project_page .tools_div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* background-color: yellow; */
}

#project_page .tools_div .tools_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* background-color: pink; */
}

#project_page .tools_div .tools_container .tools {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    color: white;
    font-weight: normal;
    border: none;
    border-radius: 0.3rem;
    background-color: #0295a9;
}

#project_page .links_div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* background-color: yellowgreen; */
}

#project_page .links_div .links {
    /* width: 30%; */
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: pink; */
}

#project_page .links_div .links button {
    width: 8rem;
    margin-right: 1rem;
    padding: 0.8rem 0.7rem;
    font-size: 1rem;
    border: 0.1rem solid #244d61;
    border-radius: 0.3rem;
    cursor: pointer;
}

#project_page .links_div .links .live_link {
    color: white;
    background-color: #244d61;
}

#project_page .links_div .links .live_link:hover {
    color: #244d61;
    background-color: white;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

#project_page .links_div .links .github_link {
    color: #244d61;
    background-color: white;
}

#project_page .links_div .links .github_link:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    #project_page .top_div {
        width: 100%;
    }

    #project_page .description_div {
        width: 100%;
    }

    #project_page .tools_div {
        width: 100%;
    }

    #project_page .links_div {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    #project_page .top_div {
        width: 95%;
    }

    #project_page .description_div {
        width: 95%;
    }

    #project_page .tools_div {
        width: 95%;
    }

    #project_page .links_div {
        width: 95%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    #project_page .top_div {
        width: 90%;
    }

    #project_page .description_div {
        width: 90%;
    }

    #project_page .tools_div {
        width: 90%;
    }

    #project_page .links_div {
        width: 90%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    #project_page .top_div {
        width: 80%;
    }

    #project_page .description_div {
        width: 80%;
    }

    #project_page .tools_div {
        width: 80%;
    }

    #project_page .links_div {
        width: 80%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    #project_page .top_div {
        width: 70%;
    }

    #project_page .description_div {
        width: 70%;
    }

    #project_page .tools_div {
        width: 70%;
    }

    #project_page .links_div {
        width: 70%;
    }
}